<ion-view view-title="Study4.TW" >
    <ion-content>
        <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="true">
            <ion-slide>
                <div class="box blue"><h2 class="title"><i class="ion ion-thumbsup"></i> 給每個人多一點機會</h2></div>
            </ion-slide>
            <ion-slide>
                <div class="box yellow"><h2 class="title"><i class="ion ion-person-stalker"></i> 技術不應該是孤單的</h2></div>
            </ion-slide>
            <ion-slide>
                <div class="box pink"><h2 class="title"><i class="ion ion-paper-airplane"></i> 從零開始的每個人</h2></div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>
